.burger-menu {
  padding: 48px 40px;

  background-color: lightblue;

  @media screen and (max-width: 767px) {
    /*display: none;*/
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

/* ! Burger-menu__button */

.burger-menu__button {
  position: absolute;
  top: 21px;
  right: 25px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-menu__icon {
  width: 19px;
  height: 19px;
}

.burger-menu__into {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-network {
  display: flex;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-network__item {
  font-size: 18px;
  line-height: 1.22;
  color: var(--active-linc-color, lightblue);

  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--modal-form-border);
  }
}

.burger-network__link {
}
