.client {
  list-style: none;
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.client__item {
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }

  &:not(:nth-child(2n + 2)) {
    @media screen and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  &:nth-child(-n + 4) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(-n + 3) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(3n + 3) {
    @media screen and (min-width: 768px) {
      margin-right: 0px;
    }
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

/* .client__item:not(:last-child) {
  margin-right: 30px;
} */

.client__brand {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--social-network-rest, gray);
  border-radius: 4px;

  /* width: 170px; */
  height: 92px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--active-linc-color, teal);
  }
}

.client__svg {
  width: 106px;
  height: 60px;
  fill: var(--social-network-rest, gray);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .client__brand:hover &,
  .client__brand:focus & {
    fill: var(--active-linc-color, teal);
  }
}
