.features {
  list-style: none;
  text-align: left;
  padding: 0;

  @media screen and (min-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  /*width: 270px; */

  &::before {
    display: block;
    content: "";

    height: 120px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--background-team, gray);
  }

  /* &:not(:last-child) {
    margin-right: 30px; 
  } */

  @media screen and (max-width: 767px) {
    max-width: 450px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 60px;
  }
}

.features__item:not(:nth-child(2n + 2)) {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.features__item.antenna__icon::before {
  background-image: url("../images/svg_directory/svg__features/antenna_vector.svg");
  background-size: 70px;
}

.features__item.clock__icon::before {
  background-image: url("../images/svg_directory/svg__features/clock_vector.svg");
  background-size: 70px;
}

.features__item.diagram__icon::before {
  background-image: url("../images/svg_directory/svg__features/diagram_vector.svg");
  background-size: 70px;
}

.features__item.astronaut__icon::before {
  background-image: url("../images/svg_directory/svg__features/astronaut_vector.svg");
  background-size: 70px;
}

.features__title {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__title--color-white {
  margin: 0;
  color: var(--header-white, white);
}

.features__text {
  color: var(--text-color, gray);
  line-height: 1.7;
  margin: 0;
}
