.footer {
  color: var(--header-white, white);
  background-color: var(--background-footer-color, black);
  line-height: 1.7;
  text-align: center;
  /* padding: 60px 0; */

  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

/* Footer Contacts*/

.footer__contacts {
  list-style: none;
  padding: 0;

  & li:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__contact {
  display: block;
  text-decoration: none;
  color: var(--contact-footer-color, white);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer__contact {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--active-linc-color, lightblue);
  }
}

/* Footer Feedback */

.footer__feedback {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-network {
  @media screen and (min-width: 768px) {
    margin-right: 85px;
  }
}

/* Footer Feedback --positioning*/

.features__title--positioning {
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.network--positioning {
  padding: 0;
  justify-content: center;
  margin-bottom: 60px;
}

.network__link {
  background: var(--social-network-footer, gray);
  border-radius: 50%;

  .network--positioning &:hover,
  .network--positioning &:focus {
    background: var(--active-linc-color, teal);
  }
}

.network__svg--positioning {
  fill: var(--header-white);
}

/* Form Footer */

.form__footer {
}

.form__footer-item {
  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.form-mail__footer {
  width: 100%;
  margin-right: 12px;
  padding: 15px 16px;

  color: var(--contact-footer-color);

  background-color: var(--invisible);
  border: 1px solid var(--footer-form-email);
  border-radius: 4px;
  outline: none;

  max-width: 450px;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    max-width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }
}

.main__button--flex {
  display: inline-flex;
  padding: 10px 29px;
}

.form-footer__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;

  fill: var(--header-white, white);
}
