.header {
  display: flex;
  /*position: fixed;*/
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;

  background-color: var(--header-white, white);
  border-bottom: 1px solid var(--header-border-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (max-width: 768px) {
    height: 60px;
  }
}

/* Navigation */

.navigation {
  display: flex;
  width: 100%;
}
.nav {
  display: none;
}

.nav__item {
  list-style: none;
  display: block;

  & li:not(:last-child) {
    margin-right: 50px;

    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  @media screen and (max-width: 767px) {
    /*display: none;*/
  }
}

.nav__link {
  text-decoration: none;
  color: inherit;

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
  }
  /* padding-top: 32px; */
}

/* Contacts */

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: none;
}

.contacts__into {
  align-items: center;
  list-style: none;

  padding: 0;
  margin-left: auto;

  & li:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    /* display: none; */
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
  }
}

.contacts__item {
  text-decoration: none;
  color: var(--text-color, gray);

  padding-top: 32px;
  padding-bottom: 32px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__svg {
  margin-right: 10px;
  fill: var(--social-network-rest, gray);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .contacts__item:hover &,
  .contacts__item:focus & {
    fill: var(--active-linc-color, lightblue);
  }
}

.contact__svg--envelope-icon {
  width: 16px;
  height: 12px;
}

.contact__svg--smartphone-icon {
  width: 10px;
  height: 16px;
}

/* Nav, Contacts --elements condition */

.nav__link,
.contacts__item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--active-linc-color, lightblue);
  }
}

.nav__link::after {
  @media screen and (min-width: 768px) {
    display: block;
    content: "";
    margin-top: 28px;

    width: inherit;
    height: 4px;
    background-color: var(--active-linc-color);
    border-radius: 2px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}

.nav__link--active {
  color: var(--active-linc-color, lightblue);

  &::after {
    @media screen and (min-width: 768px) {
      opacity: 1;
    }
  }
}

/* Burger-Menu */

.burger-button {
  /* display: inline-flex; */
  margin: 0 8px 0 auto;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .burger-button__item {
    width: 24px;
    height: 16px;
  }
}
