/* * Form__Modal-Window*/

.form-modal__item {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;

  text-align: left;
}

.form-modal__list {
  margin-bottom: 10px;
  list-style: none;

  &.list__textarea {
    margin-bottom: 20px;
  }
}

.form-modal__list.list__checkbox .form-modal__label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.form-modal__into {
  position: relative;
}

.form-modal__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;

  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  outline: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--active-linc-color);
  }
}

.form-modal__input.comment {
  display: block;
  height: 120px;
  padding: 12px 16px;

  resize: none;
}

.form-modal__svg {
  position: absolute;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  transform: translateY(-50%);
}

.form-modal__svg.man__svg {
  width: 12px;
  height: 12px;
  left: 15px;
  fill: var(--modal-button-color, black);
}

.form-modal__svg.telephone__svg {
  width: 13px;
  height: 13px;
  left: 14px;
}

.form-modal__svg.envelope__svg {
  width: 15px;
  height: 12px;
  left: 13.5px;
}

.form-modal__input:hover + .form-modal__svg,
.form-modal__input:focus + .form-modal__svg {
  fill: var(--active-linc-color);
}

.form-modal__link {
  text-decoration: underline;
  color: var(--active-linc-color);
}

.form-modal__label.label__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    border: 1px solid var(--modal-button-color, black);
    border-radius: 2px;
    cursor: pointer;
  }
}

.form-modal__checkbox:checked + .form-modal__label.label__checkbox::before {
  background-image: url(../images/svg_directory/box-check_svg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
