.team {
  list-style: none;
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  text-align: center;
  line-height: 1.19;

  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }

  background-color: var(--header-white, white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &:not(:nth-last-child(-n + 2)) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &:not(:nth-child(2n + 2)) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.team__photo {
  width: 100%;
}

.team__photo,
.portfolio__image {
  display: block;
}

.team__info {
  padding-top: 30px;
}

.team__name {
  font-size: 16px;
  font-weight: 500;

  margin-bottom: 10px;
}

.team__prof {
  color: var(--text-color, gray);
  margin-bottom: 16px;
}
