html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* X*/
:root {
  --title-color: #212121;
  --active-linc-color: #2196f3;
  --text-color: #757575;
  --header-white: #ffffff;
  --background-team: #f5f4fa;
  --background-footer-color: #2f303a;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --portfolio-border-color: #eeeeee;
  --header-border-color: #ececec;
  /* icons-color*/
  --pictures-annotation-color: rgba(47, 48, 58, 0.8);
  --social-network-rest: #afb1b8;
  --social-network-footer: rgba(255, 255, 255, 0.1);
  --modal-alpha: rgba(0, 0, 0, 0.2);
  --modal-button-color: #000;
  /* form-color */
  --invisible: rgba(0, 0, 0, 0);
  --footer-form-email: rgba(255, 255, 255, 0.3);
  --modal-form-border: rgba(33, 33, 33, 0.2);
}

body {
  padding-top: 80px;

  font-family: "Roboto", "Raleway", sans-serif;
  font-style: normal;
  color: var(--title-color, black);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* !!! Containers !!! */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--flex {
  display: flex;
  /* центрирует контент по вертикале */
  align-items: center;
}

.container--centering {
  display: flex;
}

/* !!! Header and Footer !!! */

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;

  background-color: var(--header-white, white);
  border-bottom: 1px solid var(--header-border-color);

  font-weight: 500;
  letter-spacing: 0.02em;
}

.footer {
  color: var(--header-white, white);
  background-color: var(--background-footer-color, black);
  height: 252px;
  line-height: 1.7;
  padding: 60px 0;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  color: var(--active-linc-color, lightblue);

  margin-right: 93px;
}

.logo__header {
  color: var(--title-color, black);
}

.logo__footer {
  color: var(--header-white, white);
}

.nav__item {
  list-style: none;

  padding: 0;
  margin: 0;
  display: flex;
}

.nav__item li:not(:last-child) {
  margin-right: 50px;
}
.contacts li:not(:last-child) {
  /* всем элементам кроме последнего */
  margin-right: 30px;
}

.nav__link {
  text-decoration: none;
  color: inherit;

  display: block;
  padding-top: 32px;
}

.contacts {
  display: flex;
  align-items: center;
  list-style: none;

  padding: 0;
  margin-left: auto;
}

.contacts__item {
  text-decoration: none;
  color: var(--text-color, gray);

  padding-top: 32px;
  padding-bottom: 32px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__svg {
  margin-right: 10px;
  fill: var(--social-network-rest, gray);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__svg--envelope-icon {
  width: 16px;
  height: 12px;
}

.contact__svg--smartphone-icon {
  width: 10px;
  height: 16px;
}

.contacts__item:hover .contact__svg,
.contacts__item:focus .contact__svg {
  fill: var(--active-linc-color, lightblue);
}

.footer__contacts {
  list-style: none;
  padding: 0;
}

.footer__contact {
  display: block;
  text-decoration: none;
  color: var(--contact-footer-color, white);
}

.footer__contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.nav__link,
.contacts__item,
.footer__contact {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.contacts__item:hover,
.contacts__item:focus,
.footer__contact:hover,
.footer__contact:focus {
  color: var(--active-linc-color, lightblue);
}

.nav__link::after {
  display: block;
  content: "";
  margin-top: 28px;

  width: inherit;
  height: 4px;
  background-color: var(--active-linc-color);
  border-radius: 2px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}

.nav__link:hover::after,
.nav__link--active::after {
  opacity: 1;
}

.nav__link--active {
  color: var(--active-linc-color, lightblue);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  margin-bottom: 9px;
}

/* !!! Main block !!! */

.section {
  /* margin-bottom: 94px; */
  padding: 94px 0;
}

.section--background {
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--header-white);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero_directory/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--background-footer-color, gray);

  height: 600px;
  padding: 200px 0;
}

.main__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main__button {
  color: var(--header-white, white);
  background-color: var(--active-linc-color, lightblue);

  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  /* width: 200px; */
  min-width: 200px;
  height: 50px;

  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: 1px solid transparent;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main__button:hover,
.main__button:focus {
  background-color: #188ce8;
}

/* !!! Features  block !!! */
.title {
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
  margin-bottom: 50px;
}

.section--features {
  padding-bottom: 0;
}

.features {
  list-style: none;
  text-align: left;

  display: flex;
  justify-content: center;
  padding: 0;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__item::before {
  display: block;
  content: "";

  height: 120px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--background-team, gray);
}

.features__item.antenna__icon::before {
  background-image: url("../images/svg_directory/svg__features/antenna_vector.svg");
  background-size: 70px;
}

.features__item.clock__icon::before {
  background-image: url("../images/svg_directory/svg__features/clock_vector.svg");
  background-size: 70px;
}

.features__item.diagram__icon::before {
  background-image: url("../images/svg_directory/svg__features/diagram_vector.svg");
  background-size: 70px;
}

.features__item.astronaut__icon::before {
  background-image: url("../images/svg_directory/svg__features/astronaut_vector.svg");
  background-size: 70px;
}

.features__title {
  font-size: 14px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__text {
  color: var(--text-color, gray);
  line-height: 1.7;
  margin: 0;
}

/* !!! Pictures block !!! */

.pictures {
  display: flex;
  justify-content: center;
  padding: 0;

  list-style: none;
}

.pictures__item {
  position: relative; /* без этого атрибута появляются 3px внизу*/
}

.pictures__item:not(:last-child) {
  margin-right: 30px;
}

.pictures__annotation {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
  background-color: var(--pictures-annotation-color);
}

.features__title--color-white {
  margin: 0;
  color: var(--header-white, white);
}

/* !!! Team block !!! */

.section--band {
  background-color: var(--background-team);
}

.team {
  list-style: none;
  display: flex;
}

.team__item {
  text-align: center;
  line-height: 1.19;
  width: 270px;

  background-color: var(--header-white, white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__photo,
.portfolio__image {
  display: block;
}

.team__info {
  padding-top: 30px;
}

.team__name {
  font-size: 16px;
  font-weight: 500;

  margin-bottom: 10px;
}

.team__prof {
  color: var(--text-color, gray);
}

/* Social Network*/

.network {
  list-style: none;
  display: flex;
  padding: 16px 32px 30px 32px;
}

.network__into:not(:last-child) {
  margin-right: 10px;
}

.network__link {
  display: flex;
  cursor: pointer;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network__link:hover,
.network__link:focus {
  background: var(--active-linc-color, teal);
}

.network__svg {
  width: 20px;
  height: 20px;
  fill: var(--social-network-rest, gray);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network__link:hover .network__svg,
.network__link:focus .network__svg {
  fill: var(--header-white, white);
}

/* !!! Clients block !!! */

.client {
  list-style: none;
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__brand {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--social-network-rest, gray);
  border-radius: 4px;

  width: 170px;
  height: 92px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__brand:hover,
.client__brand:focus {
  border: 1px solid var(--active-linc-color, teal);
}

.client__svg {
  width: 106px;
  height: 60px;
  fill: var(--social-network-rest, gray);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__brand:hover .client__svg,
.client__brand:focus .client__svg {
  fill: var(--active-linc-color, teal);
}

/* *Footer__Network */

.footer__feedback {
  margin-right: 70px;
}

.footer-network {
  margin-right: 85px;
}

.features__title--positioning {
  margin-bottom: 20px;
}

.network--positioning {
  padding: 0;
}

.network__link {
  background: var(--social-network-footer, gray);
  border-radius: 50%;
}
.network--positioning .network__link:hover,
.network--positioning .network__link:focus {
  background: var(--active-linc-color, teal);
}

.network__svg--positioning {
  fill: var(--header-white);
}

/* *Form__Footer */

.form__footer-item {
  display: flex;
}

.form-mail__footer {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  color: var(--contact-footer-color);

  background-color: var(--invisible);
  border: 1px solid var(--footer-form-email);
  border-radius: 4px;
  outline: none;
}

.main__button--flex {
  display: flex;
  padding: 10px 29px;
}

.form-footer__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;

  fill: var(--header-white, white);
}

/* !!! Portfolio !!! */

.visually-hidden {
  /* *Скрывает заголовок */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  list-style: none;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.filter li:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: inherit;
  background-color: var(--background-team);

  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--header-white, white);
  background-color: var(--active-linc-color, lightblue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__items {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.portfolio__project {
  width: 370px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__project:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__project:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.portfolio__project:not(:nth-child(1n + 7)) {
  margin-bottom: 30px;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.portfolio__window {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__window p {
  padding: 63px 24px;
}

.portfolio__project:hover .portfolio__window {
  transform: translateY(0);
}

.portfolio__item {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-border-color, gray);
  border-right: 1px solid var(--portfolio-border-color, gray);
  border-bottom: 1px solid var(--portfolio-border-color, gray);
}

.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio__specialization {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color, gray);
}

/* !!! Modal Window !!! */

.backdrop {
  position: fixed;
  z-index: 20;

  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-alpha);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  text-align: center;

  background-color: var(--header-white, white);
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;

  background-color: var(--header-white, white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__svg {
  width: 11px;
  height: 11px;
  fill: var(--modal-button-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__svg,
.modal__button:focus .modal__svg {
  fill: var(--active-linc-color);
}

.modal__title {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
}

/* * Form__Modal-Window*/

.form-modal__item {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;

  text-align: left;
}

.form-modal__list {
  margin-bottom: 10px;
  list-style: none;
}

.form-modal__list.list__textarea {
  margin-bottom: 20px;
}

.form-modal__list.list__checkbox .form-modal__label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.form-modal__into {
  position: relative;
}

.form-modal__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;

  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  outline: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input.comment {
  display: block;
  height: 120px;
  padding: 12px 16px;

  resize: none;
}

.form-modal__input:hover,
.form-modal__input:focus {
  border: 1px solid var(--active-linc-color);
}

.form-modal__svg {
  position: absolute;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  transform: translateY(-50%);
}

.form-modal__svg.man__svg {
  width: 12px;
  height: 12px;
  left: 15px;
  fill: var(--modal-button-color, black);
}

.form-modal__svg.telephone__svg {
  width: 13px;
  height: 13px;
  left: 14px;
}

.form-modal__svg.envelope__svg {
  width: 15px;
  height: 12px;
  left: 13.5px;
}

.form-modal__input:hover + .form-modal__svg,
.form-modal__input:focus + .form-modal__svg {
  fill: var(--active-linc-color);
}

.form-modal__link {
  text-decoration: underline;
  color: var(--active-linc-color);
}

.form-modal__label.label__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-modal__label.label__checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 1px solid var(--modal-button-color, black);
  border-radius: 2px;
  cursor: pointer;
}

.form-modal__checkbox:checked + .form-modal__label.label__checkbox::before {
  background-image: url(../images/svg_directory/box-check_svg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
