.backdrop {
  position: fixed;
  z-index: 20;
  overflow-y: scroll;

  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-alpha);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.burger-menu.is-hidden {
  display: none;
  pointer-events: none;
  visibility: hidden;
}
