.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.19;
  color: var(--active-linc-color, lightblue);
}

.logo__header {
  color: var(--title-color, black);

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__footer {
  color: var(--header-white, white);
}
