.section {
  margin-bottom: 94px;
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.section--background {
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--header-white);
  padding: 118px 0;
  max-width: 480px;
  height: 400px;

  /* Hero */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero_directory/hero1.jpg");
  background-color: var(--background-footer-color, gray);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_directory/hero1@2x.jpg");
  }

  /* Tablet */

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_directory/hero2.jpg");
    padding: 118px 0;
    max-width: 100%;
    height: 100%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero_directory/hero2@2x.jpg");
    }
  }

  /* Desktop */

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_directory/hero3.jpg");
    padding: 200px 0;
    max-height: 100%;
    max-width: 100%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero_directory/hero3@2x.jpg");
    }
  }
}

.section--features {
  padding-bottom: 0;
}

.section--pictures {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--band {
  background-color: var(--background-team);
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px;
  }
}
