:root {
  --title-color: #212121;
  --active-linc-color: #2196f3;
  --text-color: #757575;
  --header-white: #ffffff;
  --background-team: #f5f4fa;
  --background-footer-color: #2f303a;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --portfolio-border-color: #eeeeee;
  --header-border-color: #ececec;
  /* icons-color*/
  --pictures-annotation-color: rgba(47, 48, 58, 0.8);
  --social-network-rest: #afb1b8;
  --social-network-footer: rgba(255, 255, 255, 0.1);
  --modal-alpha: rgba(0, 0, 0, 0.2);
  --modal-button-color: #000;
  /* form-color */
  --invisible: rgba(0, 0, 0, 0);
  --footer-form-email: rgba(255, 255, 255, 0.3);
  --modal-form-border: rgba(33, 33, 33, 0.2);
}
